# Clase 5

**Primeros scriptis**

Vamos a definir en una celda tres variables, una que contenga mi nombre, otra que contenga mi edad y otra que muestre el porcentaje de la semana que utilizo para mi curso de programacion.

# Métododo `Format` para cadenas

Veamos como podemos crear formatos en textos:

In [1]:
Nombre='Amy Gabriela riveros vargas'
Edad=16
Por_prog=(4+2)/(24*5)

In [5]:
texto1='Mi nombre es {},tengo {} años y soy externadista'.format(Nombre,Edad)
texto1

'Mi nombre es Amy Gabriela riveros vargas,tengo 16 años y soy externadista'

In [11]:
texto1='Mi nombre es {nombre},tengo {edad} años y soy externadista'.format(nombre=Nombre,edad=Edad)
texto1

'Mi nombre es Amy Gabriela riveros vargas,tengo 16 años y soy externadista'

In [13]:
texto2='Mi nombre es {nombre}, tengo {edad} años, soy externadista y dedico el {porcentaje:.2%} de mi semana a programacion'.format(nombre=Nombre,edad=Edad,porcentaje=Por_prog)
texto2

'Mi nombre es Amy Gabriela riveros vargas, tengo 16 años, soy externadista y dedico el 5.00% de mi semana a programacion'

In [22]:
Texto3='Nombre={nombre:<30}\nEdad{edad:<30}'.format(nombre=Nombre,edad=Edad)
print(Texto3)

Nombre=Amy Gabriela riveros vargas
Edad16

In [21]:
Texto3='{nombre:<30}:Nombre\n{edad:<30}:Edad'.format(nombre=Nombre,edad=Edad)
print(Texto3)

Amy Gabriela riveros vargas   :Nombre
16                            :Edad

In [25]:
Texto4='{nombre:^30}\n{edad:^30}'.format(nombre=Nombre,edad=Edad)
print(Texto4)

 Amy Gabriela riveros vargas
              16

In [26]:
Texto5='El boleto para Bad Bunny valió ${boleto:,}'.format(boleto=22000000)
print(Texto5)

El boleto para Bad Bunny valió $22,000,000

In [27]:
Texto6='En binario tengo {edad:b}'.format(edad=Edad)
print(Texto6)

En binario tengo 10000

# Más métodos de cadenas de caractéres

Veamos una lista de métodos e intentemos definir que hace cada una:

In [29]:
Texto7='hola'.capitalize() # pone mayúscula inicial
print(Texto7)

Hola

In [30]:
Texto8='En el bosque de la china la chinita se PERDIO'.casefold()
print(Texto8)

en el bosque de la china la chinita se perdio

Pone todo en miniscula

In [31]:
Texto9='En el monte de la china la chinita se perdio'.upper()
print(Texto9)

EN EL MONTE DE LA CHINA LA CHINITA SE PERDIO

In [32]:
Texto10='En el bosque de la china la chinita se PERDIO'.lower()
print(Texto10)

en el bosque de la china la chinita se perdio

In [33]:
Texto11='En el Monte de la china la chinita se PErdio'.replace('a','x-x')
print(Texto11)

En el Monte de lx-x chinx-x lx-x chinitx-x se PErdio

In [34]:
Texto12='En el Monte de la china la chinita se PErdio'.swapcase()
print(Texto12)

eN EL mONTE DE LA CHINA LA CHINITA SE peRDIO

In [36]:
Texto13='En el Monte de la china la chinita se PErdio'.center(100)
print(Texto13)

                            En el Monte de la china la chinita se PErdio

Otros métodos:

In [37]:
x1='Las bananas son ricas en potacio'.count('an')
print(x1)

2

In [39]:
x2='''Los estrenos más importantes de Netflix en 2022
Netflix anunció las películas que estrenará a lo largo de 2022, y sorprendió la cantidad de súper estrellas que las protagonizarán. Hay filmes con: Ryan Reynolds, Jennifer Lopez, Gael García Bernal, Adam Sandler, Ryan Gosling, Chris Hemsworth, Jamie Foxx, Lindsay Lohan y más. En esta galería te contamos cuáles son esas películas y de qué se tratan.'''.count('a')
print(x2)

34

In [40]:
x3='El externado parece Monserrate por las escaleras'.find('parece')
print(x3)

13

In [41]:
x4='El externado parece Monserrate por las escaleras'.find('externado')
print(x4)

3

In [42]:
x5='El externado parece Monserrate por las escaleras'.find('escaleras')
print(x5)

39

(find) Es para indicar la pocisión en la que inicia la palabra.

En python los textos son arreglos, o más bien secuencias ordenadas de caracteres.
Cada texto tiene un orden según la aparición de cada caracter.

In [46]:
texto_normal='0123456789'

In [47]:
texto_normal[0] #identifico a cada caracter en esa lista o arreglo con paréntesis cuadrados

'0'

In [48]:
texto_normal[4]

'4'

In [49]:
texto_normal[0:4] # Los dos valores esparados por dos puntos indican un rango en el texto, inicia en el primero y termina antes que el segunndo

'0123'

In [53]:
texto_normal[2:9]

'2345678'

In [51]:
texto='colombia verá qatar 2022 desde la sal de la casa'

In [52]:
texto[8:25]

' verá qatar 2022 '

### Función `input`

In [54]:
txt=input('Un texto para mirar función input')
print(txt)
print(type(txt))

Un texto de para mirar función input 88

88
<class 'str'>

Claramente `input` permite que el usuario pueda ingresar texto, ese texto siempre se guardará como cadena de caracteres y si se quiera cambiar debe utilizarse una función adecuada:

In [56]:
txt=input('Ingrese su nombre:')
age=input('Ingrese su edad:')
age=int(age)
print('En el 2023 {nombre}, tendrá {edad} años'.format(nombre=txt,edad=age+1))

Ingrese su nombre: Amy Riveros
Ingrese su edad: 16

En el 2023 Amy Riveros, tendrá 17 años